.yellow-back {
    background-color: rgb(233, 233, 59);
}

#red-text {
    color: rgb(231, 19, 19);
}

img {
    padding: 0.5em;
    margin: 0.5em 1em 0.5em 1em;
    background-color: rgb(53, 53, 223);
}