html, body {
    min-height: 100%;
    margin: 0;
    background-color: #000000;
    font-size: 80%;
}

.main {
    margin: 0;
    background-color: #000000;
    box-shadow: inset 0px 10px 50px 100px rgb(104, 104, 104, 0.05);
}

.loaderMain {
    position: absolute;
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loaderCenterSmall {
    position: absolute;
}

.headerMenuLogo {
    font-family: Impact;
    color: #00d4ff;
    text-shadow: 0.01em 0 0.1em rgba(255, 0, 0, 0.424), 0 0 0.3em rgba(0, 0, 255, 0.512), 0 0 0.2em rgba(0, 0, 255, 0.382);
}

.headerPageInfo {
    font-family: Gill Sans;
    color: #a3f0ff;
}

.headerPageInfoCenter {
    margin: 0px;
    padding-top: 20px;
    font-family: Gill Sans;
    text-align: center;
    color: #6ce6fe;
}

.detailsPage {
    min-height: 550px;
    display: relative;
}

.backdropDetailsPage {
    width: 100vw;
    min-height: 95vh;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    box-shadow: inset 10px 20px 150px 100px rgba(60, 0, 164, 0.105);
    margin-top: 0;
    padding-bottom: -60px;
    display: block;
}

.backdropProfilePage {
    width: 100vw;
    min-height: 550px;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    box-shadow: inset 10px 20px 150px 100px rgba(24, 24, 24, 0.81);
    margin-top: 0;
    padding-bottom: -60px;
    display: block;
}

.paperGenres {
    width: 250px;
    margin: 10px auto 0 auto;
    padding: 10px 5px 10px 5px;
    text-align: center;
}

.cast {
    min-height: 500px;
    background-color: #131313;
    position: relative;
}

.additionalDetails {
    min-height: 300px;
    background-color: #171616;
    position: relative;
    padding: 20px 0 30px 0;
}

.reviews {
    min-height: 400px;
    background-color: #1d1d1d;
    position: relative;
}

.videoPage {
    margin: 0 0 50px 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0, 1) 2%, rgb(0, 0, 0) 100%);
}

.videoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px
}

.rrLink {
    text-decoration: none;
    color: inherit;
    margin: 0;
}

.userSignUpAvatarContainer {
    margin: 20px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userUpAvatar {
    border: 0.1px solid rgba(192, 222, 224, 0.257);
}

.absoluteNotification {
    z-index: 999;
    margin: 10px;
    position: absolute;
    width: calc(100% - 20px);
}