html, body {
    height: 100%;
    margin: 0;
    background-color: #000000;
}

.main {
    margin: 0;
    background-color: #000000;
    box-shadow: inset 0px 10px 50px 100px rgb(104, 104, 104, 0.05);
}

.headerMenuLogo {
    font-family: Impact;
    color: #00d4ff;
    text-shadow: 0.01em 0 0.1em rgba(255, 0, 0, 0.424), 0 0 0.3em rgba(0, 0, 255, 0.512), 0 0 0.2em rgba(0, 0, 255, 0.382);
}

.headerPageInfo {
    font-family: Gill Sans;
    color: #a3f0ff;
}